@import "./mixins";
@import "./variables";
@import "./functions";


/**
 * Hide text while making it readable for screen readers
 * 1. Needed in WebKit-based browsers because of an implementation bug !important;
 *    See: https://code.google.com/p/chromium/issues/detail?id=457146
 */

.hide-text {
  padding: 0 !important; /* 1 */
  overflow: hidden !important;
  text-indent: 101% !important;
  white-space: nowrap !important;
}

/**
 * Hide element while making it readable for screen readers
 * Shamelessly borrowed from HTML5Boilerplate:
 * https://github.com/h5bp/html5-boilerplate/blob/master/src/css/main.css#L119-L133
 */
.container {
  max-width: var(--max-width-lg) !important;
  margin-right: auto !important;
  margin-left: auto !important;
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  padding: 0 !important;
  overflow: hidden !important;
  border: 0 !important;
  clip: rect(0 0 0 0) !important;
}

.hidden {
  display: none !important;
}

.fill-current {
  fill: currentColor !important;
}

.text-center {
  text-align: center !important;
}

.text-right {
  text-align: right !important;
}

.float-left {
  float: left !important;
}

.float-right {
  float: right !important;
}

// max width

.max-width-xxxxs {
  max-width: var(--max-width-xxxxs) !important;
}

.max-width-xxxs {
  max-width: var(--max-width-xxxs) !important;
}

.max-width-xxs {
  max-width: var(--max-width-xxs) !important;
}

.max-width-xs {
  max-width: var(--max-width-xs) !important;
}

.max-width-sm {
  max-width: var(--max-width-sm) !important;
}

.max-width-md {
  max-width: var(--max-width-md) !important;
}

.max-width-lg {
  max-width: var(--max-width-lg) !important;
}

.max-width-xl {
  max-width: var(--max-width-xl) !important;
}

.max-width-xxl {
  max-width: var(--max-width-xxl) !important;
}

.max-width-xxxl {
  max-width: var(--max-width-xxxl) !important;
}

.max-width-xxxxl {
  max-width: var(--max-width-xxxxl) !important;
}

.max-width-100\% {
  max-width: 100% !important;
}

// font-weight

.font-light {
  font-weight: 300 !important;
}

.font-normal {
  font-weight: 400 !important;
}

.font-medium {
  font-weight: 500 !important;
}

.font-semibold {
  font-weight: 600 !important;
}

.font-bold {
  font-weight: bold !important;
}

// color

.color-primary {
  color: var(--color-primary) !important;
}

.color-secondary {
  color: var(--color-secondary) !important;
}

// sizes text
.text-size-base {
  font-size: var(--text-size-base) !important;
}

.text-md {
  font-size: var(--text-md) !important;
}

.text-lg {
  font-size: var(--text-lg) !important;
}

.text-xl {
  font-size: var(--text-xl) !important;
}

.text-xxl {
  font-size: var(--text-xxl) !important;
}

.text-xxxl {
  font-size: var(--text-xxxl) !important;
}

.text-xxxxl {
  font-size: var(--text-xxxxl, 2.985em) !important;
}

.text-sm {
  font-size: var(--text-sm) !important;
}

.text-xs {
  font-size: var(--text-xs) !important;
}

// Margin

.margin-xxxxs {
  margin: var(--space-xxxxs) !important;
}

.margin-xxxs {
  margin: var(--space-xxxs) !important;
}

.margin-xxs {
  margin: var(--space-xxs) !important;
}

.margin-xs {
  margin: var(--space-xs) !important;
}

.margin-sm {
  margin: var(--space-sm) !important;
}

.margin-md {
  margin: var(--space-md) !important;
}

.margin-base {
  margin: var(--space-unit) !important;
}

.margin-lg {
  margin: var(--space-lg) !important;
}

.margin-xl {
  margin: var(--space-xl) !important;
}

.margin-xxl {
  margin: var(--space-xxl) !important;
}

.margin-xxxl {
  margin: var(--space-xxxl) !important;
}

.margin-xxxxl {
  margin: var(--space-xxxxl) !important;
}

.margin-auto {
  margin: auto !important;
}

.margin-0 {
  margin: 0 !important;
}

.margin-top-base {
  margin-top: var(--space-unit) !important;
}

.margin-top-xxxxs {
  margin-top: var(--space-xxxxs) !important;
}

.margin-top-xxxs {
  margin-top: var(--space-xxxs) !important;
}

.margin-top-xxs {
  margin-top: var(--space-xxs) !important;
}

.margin-top-xs {
  margin-top: var(--space-xs) !important;
}

.margin-top-sm {
  margin-top: var(--space-sm) !important;
}

.margin-top-md {
  margin-top: var(--space-md) !important;
}

.margin-top-lg {
  margin-top: var(--space-lg) !important;
}

.margin-top-xl {
  margin-top: var(--space-xl) !important;
}

.margin-top-xxl {
  margin-top: var(--space-xxl) !important;
}

.margin-top-xxxl {
  margin-top: var(--space-xxxl) !important;
}

.margin-top-xxxxl {
  margin-top: var(--space-xxxxl) !important;
}

.margin-top-auto {
  margin-top: auto !important;
}

.margin-top-0 {
  margin-top: 0 !important;
}

.margin-bottom-base {
  margin-bottom: var(--space-unit) !important;
}

.margin-bottom-xxxxs {
  margin-bottom: var(--space-xxxxs) !important;
}

.margin-bottom-xxxs {
  margin-bottom: var(--space-xxxs) !important;
}

.margin-bottom-xxs {
  margin-bottom: var(--space-xxs) !important;
}

.margin-bottom-xs {
  margin-bottom: var(--space-xs) !important;
}

.margin-bottom-sm {
  margin-bottom: var(--space-sm) !important;
}

.margin-bottom-md {
  margin-bottom: var(--space-md) !important;
}

.margin-bottom-lg {
  margin-bottom: var(--space-lg) !important;
}

.margin-bottom-xl {
  margin-bottom: var(--space-xl) !important;
}

.margin-bottom-xxl {
  margin-bottom: var(--space-xxl) !important;
}

.margin-bottom-xxxl {
  margin-bottom: var(--space-xxxl) !important;
}

.margin-bottom-xxxxl {
  margin-bottom: var(--space-xxxxl) !important;
}

.margin-bottom-auto {
  margin-bottom: auto !important;
}

.margin-bottom-0 {
  margin-bottom: 0 !important;
}

.margin-right-base {
  margin-right: var(--space-unit) !important;
}

.margin-right-xxxxs {
  margin-right: var(--space-xxxxs) !important;
}

.margin-right-xxxs {
  margin-right: var(--space-xxxs) !important;
}

.margin-right-xxs {
  margin-right: var(--space-xxs) !important;
}

.margin-right-xs {
  margin-right: var(--space-xs) !important;
}

.margin-right-sm {
  margin-right: var(--space-sm) !important;
}

.margin-right-md {
  margin-right: var(--space-md) !important;
}

.margin-right-lg {
  margin-right: var(--space-lg) !important;
}

.margin-right-xl {
  margin-right: var(--space-xl) !important;
}

.margin-right-xxl {
  margin-right: var(--space-xxl) !important;
}

.margin-right-xxxl {
  margin-right: var(--space-xxxl) !important;
}

.margin-right-xxxxl {
  margin-right: var(--space-xxxxl) !important;
}

.margin-right-auto {
  margin-right: auto !important;
}

.margin-right-0 {
  margin-right: 0 !important;
}

.margin-left-base {
  margin-left: var(--space-unit) !important;
}

.margin-left-xxxxs {
  margin-left: var(--space-xxxxs) !important;
}

.margin-left-xxxs {
  margin-left: var(--space-xxxs) !important;
}

.margin-left-xxs {
  margin-left: var(--space-xxs) !important;
}

.margin-left-xs {
  margin-left: var(--space-xs) !important;
}

.margin-left-sm {
  margin-left: var(--space-sm) !important;
}

.margin-left-md {
  margin-left: var(--space-md) !important;
}

.margin-left-lg {
  margin-left: var(--space-lg) !important;
}

.margin-left-xl {
  margin-left: var(--space-xl) !important;
}

.margin-left-xxl {
  margin-left: var(--space-xxl) !important;
}

.margin-left-xxxl {
  margin-left: var(--space-xxxl) !important;
}

.margin-left-xxxxl {
  margin-left: var(--space-xxxxl) !important;
}

.margin-left-auto {
  margin-left: auto !important;
}

.margin-left-0 {
  margin-left: 0 !important;
}

.margin-x-base {
  margin-right: var(--space-unit) !important;
  margin-left: var(--space-unit) !important;
}

.margin-x-xxxxs {
  margin-right: var(--space-xxxxs) !important;
  margin-left: var(--space-xxxxs) !important;
}

.margin-x-xxxs {
  margin-right: var(--space-xxxs) !important;
  margin-left: var(--space-xxxs) !important;
}

.margin-x-xxs {
  margin-right: var(--space-xxs) !important;
  margin-left: var(--space-xxs) !important;
}

.margin-x-xs {
  margin-right: var(--space-xs) !important;
  margin-left: var(--space-xs) !important;
}

.margin-x-sm {
  margin-right: var(--space-sm) !important;
  margin-left: var(--space-sm) !important;
}

.margin-x-md {
  margin-right: var(--space-md) !important;
  margin-left: var(--space-md) !important;
}

.margin-x-lg {
  margin-right: var(--space-lg) !important;
  margin-left: var(--space-lg) !important;
}

.margin-x-xl {
  margin-right: var(--space-xl) !important;
  margin-left: var(--space-xl) !important;
}

.margin-x-xxl {
  margin-right: var(--space-xxl) !important;
  margin-left: var(--space-xxl) !important;
}

.margin-x-xxxl {
  margin-right: var(--space-xxxl) !important;
  margin-left: var(--space-xxxl) !important;
}

.margin-x-xxxxl {
  margin-right: var(--space-xxxxl) !important;
  margin-left: var(--space-xxxxl) !important;
}

.margin-x-auto {
  margin-right: auto !important;
  margin-left: auto !important;
}

.margin-x-0 {
  margin-right: 0 !important;
  margin-left: 0 !important;
}

.margin-y-base {
  margin-right: var(--space-unit) !important;
  margin-left: var(--space-unit) !important;
}

.margin-y-xxxxs {
  margin-top: var(--space-xxxxs) !important;
  margin-bottom: var(--space-xxxxs) !important;
}

.margin-y-xxxs {
  margin-top: var(--space-xxxs) !important;
  margin-bottom: var(--space-xxxs) !important;
}

.margin-y-xxs {
  margin-top: var(--space-xxs) !important;
  margin-bottom: var(--space-xxs) !important;
}

.margin-y-xs {
  margin-top: var(--space-xs) !important;
  margin-bottom: var(--space-xs) !important;
}

.margin-y-sm {
  margin-top: var(--space-sm) !important;
  margin-bottom: var(--space-sm) !important;
}

.margin-y-md {
  margin-top: var(--space-md) !important;
  margin-bottom: var(--space-md) !important;
}

.margin-y-lg {
  margin-top: var(--space-lg) !important;
  margin-bottom: var(--space-lg) !important;
}

.margin-y-xl {
  margin-top: var(--space-xl) !important;
  margin-bottom: var(--space-xl) !important;
}

.margin-y-xxl {
  margin-top: var(--space-xxl) !important;
  margin-bottom: var(--space-xxl) !important;
}

.margin-y-xxxl {
  margin-top: var(--space-xxxl) !important;
  margin-bottom: var(--space-xxxl) !important;
}

.margin-y-xxxxl {
  margin-top: var(--space-xxxxl) !important;
  margin-bottom: var(--space-xxxxl) !important;
}

.margin-y-auto {
  margin-top: auto !important;
  margin-bottom: auto !important;
}

.margin-y-0 {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

// --------------------------------

// Padding

// --------------------------------

.padding-base {
  padding: var(--space-unit) !important;
}

.padding-xxxxs {
  padding: var(--space-xxxxs) !important;
}

.padding-xxxs {
  padding: var(--space-xxxs) !important;
}

.padding-xxs {
  padding: var(--space-xxs) !important;
}

.padding-xs {
  padding: var(--space-xs) !important;
}

.padding-sm {
  padding: var(--space-sm) !important;
}

.padding-md {
  padding: var(--space-md) !important;
}

.padding-lg {
  padding: var(--space-lg) !important;
}

.padding-xl {
  padding: var(--space-xl) !important;
}

.padding-xxl {
  padding: var(--space-xxl) !important;
}

.padding-xxxl {
  padding: var(--space-xxxl) !important;
}

.padding-xxxxl {
  padding: var(--space-xxxxl) !important;
}

.padding-0 {
  padding: 0 !important;
}

.padding-component {
  padding: var(--padding-component) !important;
}

.padding-top-base {
  padding-top: var(--space-unit) !important;
}

.padding-top-xxxxs {
  padding-top: var(--space-xxxxs) !important;
}

.padding-top-xxxs {
  padding-top: var(--space-xxxs) !important;
}

.padding-top-xxs {
  padding-top: var(--space-xxs) !important;
}

.padding-top-xs {
  padding-top: var(--space-xs) !important;
}

.padding-top-sm {
  padding-top: var(--space-sm) !important;
}

.padding-top-md {
  padding-top: var(--space-md) !important;
}

.padding-top-lg {
  padding-top: var(--space-lg) !important;
}

.padding-top-xl {
  padding-top: var(--space-xl) !important;
}

.padding-top-xxl {
  padding-top: var(--space-xxl) !important;
}

.padding-top-xxxl {
  padding-top: var(--space-xxxl) !important;
}

.padding-top-xxxxl {
  padding-top: var(--space-xxxxl) !important;
}

.padding-top-0 {
  padding-top: 0 !important;
}

.padding-top-component {
  padding-top: var(--padding-component) !important;
}

.padding-bottom-base {
  padding-top: var(--space-unit) !important;
}

.padding-bottom-xxxxs {
  padding-bottom: var(--space-xxxxs) !important;
}

.padding-bottom-xxxs {
  padding-bottom: var(--space-xxxs) !important;
}

.padding-bottom-xxs {
  padding-bottom: var(--space-xxs) !important;
}

.padding-bottom-xs {
  padding-bottom: var(--space-xs) !important;
}

.padding-bottom-sm {
  padding-bottom: var(--space-sm) !important;
}

.padding-bottom-md {
  padding-bottom: var(--space-md) !important;
}

.padding-bottom-lg {
  padding-bottom: var(--space-lg) !important;
}

.padding-bottom-xl {
  padding-bottom: var(--space-xl) !important;
}

.padding-bottom-xxl {
  padding-bottom: var(--space-xxl) !important;
}

.padding-bottom-xxxl {
  padding-bottom: var(--space-xxxl) !important;
}

.padding-bottom-xxxxl {
  padding-bottom: var(--space-xxxxl) !important;
}

.padding-bottom-0 {
  padding-bottom: 0 !important;
}

.padding-bottom-component {
  padding-bottom: var(--padding-component) !important;
}

.padding-right-base {
  padding-right: var(--space-unit) !important;
}

.padding-right-xxxxs {
  padding-right: var(--space-xxxxs) !important;
}

.padding-right-xxxs {
  padding-right: var(--space-xxxs) !important;
}

.padding-right-xxs {
  padding-right: var(--space-xxs) !important;
}

.padding-right-xs {
  padding-right: var(--space-xs) !important;
}

.padding-right-sm {
  padding-right: var(--space-sm) !important;
}

.padding-right-md {
  padding-right: var(--space-md) !important;
}

.padding-right-lg {
  padding-right: var(--space-lg) !important;
}

.padding-right-xl {
  padding-right: var(--space-xl) !important;
}

.padding-right-xxl {
  padding-right: var(--space-xxl) !important;
}

.padding-right-xxxl {
  padding-right: var(--space-xxxl) !important;
}

.padding-right-xxxxl {
  padding-right: var(--space-xxxxl) !important;
}

.padding-right-0 {
  padding-right: 0 !important;
}

.padding-right-component {
  padding-right: var(--padding-component) !important;
}

.padding-left-base {
  padding-left: var(--space-unit) !important;
}

.padding-left-xxxxs {
  padding-left: var(--space-xxxxs) !important;
}

.padding-left-xxxs {
  padding-left: var(--space-xxxs) !important;
}

.padding-left-xxs {
  padding-left: var(--space-xxs) !important;
}

.padding-left-xs {
  padding-left: var(--space-xs) !important;
}

.padding-left-sm {
  padding-left: var(--space-sm) !important;
}

.padding-left-md {
  padding-left: var(--space-md) !important;
}

.padding-left-lg {
  padding-left: var(--space-lg) !important;
}

.padding-left-xl {
  padding-left: var(--space-xl) !important;
}

.padding-left-xxl {
  padding-left: var(--space-xxl) !important;
}

.padding-left-xxxl {
  padding-left: var(--space-xxxl) !important;
}

.padding-left-xxxxl {
  padding-left: var(--space-xxxxl) !important;
}

.padding-left-0 {
  padding-left: 0 !important;
}

.padding-left-component {
  padding-left: var(--padding-component) !important;
}

.padding-x-base {
  padding-right: var(--space-unit) !important;
  padding-left: var(--space-unit) !important;
}

.padding-x-xxxs {
  padding-right: var(--space-xxxs) !important;
  padding-left: var(--space-xxxs) !important;
}

.padding-x-xxs {
  padding-right: var(--space-xxs) !important;
  padding-left: var(--space-xxs) !important;
}

.padding-x-xs {
  padding-right: var(--space-xs) !important;
  padding-left: var(--space-xs) !important;
}

.padding-x-sm {
  padding-right: var(--space-sm) !important;
  padding-left: var(--space-sm) !important;
}

.padding-x-md {
  padding-right: var(--space-md) !important;
  padding-left: var(--space-md) !important;
}

.padding-x-lg {
  padding-right: var(--space-lg) !important;
  padding-left: var(--space-lg) !important;
}

.padding-x-xl {
  padding-right: var(--space-xl) !important;
  padding-left: var(--space-xl) !important;
}

.padding-x-xxl {
  padding-right: var(--space-xxl) !important;
  padding-left: var(--space-xxl) !important;
}

.padding-x-xxxl {
  padding-right: var(--space-xxxl) !important;
  padding-left: var(--space-xxxl) !important;
}

.padding-x-xxxxl {
  padding-right: var(--space-xxxxl) !important;
  padding-left: var(--space-xxxxl) !important;
}

.padding-x-0 {
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.padding-x-component {
  padding-right: var(--padding-component) !important;
  padding-left: var(--padding-component) !important;
}

.padding-y-base {
  padding-top: var(--space-unit) !important;
  padding-bottom: var(--space-unit) !important;
}

.padding-y-xxxxs {
  padding-top: var(--space-xxxxs) !important;
  padding-bottom: var(--space-xxxxs) !important;
}

.padding-y-xxxs {
  padding-top: var(--space-xxxs) !important;
  padding-bottom: var(--space-xxxs) !important;
}

.padding-y-xxs {
  padding-top: var(--space-xxs) !important;
  padding-bottom: var(--space-xxs) !important;
}

.padding-y-xs {
  padding-top: var(--space-xs) !important;
  padding-bottom: var(--space-xs) !important;
}

.padding-y-sm {
  padding-top: var(--space-sm) !important;
  padding-bottom: var(--space-sm) !important;
}

.padding-y-md {
  padding-top: var(--space-md) !important;
  padding-bottom: var(--space-md) !important;
}

.padding-y-lg {
  padding-top: var(--space-lg) !important;
  padding-bottom: var(--space-lg) !important;
}

.padding-y-xl {
  padding-top: var(--space-xl) !important;
  padding-bottom: var(--space-xl) !important;
}

.padding-y-xxl {
  padding-top: var(--space-xxl) !important;
  padding-bottom: var(--space-xxl) !important;
}

.padding-y-xxxl {
  padding-top: var(--space-xxxl) !important;
  padding-bottom: var(--space-xxxl) !important;
}

.padding-y-xxxxl {
  padding-top: var(--space-xxxxl) !important;
  padding-bottom: var(--space-xxxxl) !important;
}

.padding-y-0 {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.padding-y-component {
  padding-top: var(--padding-component) !important;
  padding-bottom: var(--padding-component) !important;
}

// Vertical Align

.align-baseline {
  vertical-align: baseline !important;
}

.align-top {
  vertical-align: top !important;
}

.align-middle {
  vertical-align: middle !important;
}

.align-bottom {
  vertical-align: bottom !important;
}

// media queries

@each $breakpoint, $value in $breakpoints {
  @include respond-to(#{$breakpoint}) {
    .hide\@#{$breakpoint} {
      display: none !important;
    }
    // margin
    @supports (--css: variables) {
      .margin-base\@#{$breakpoint} {
        margin: var(--space-unit) !important;
      }
      .margin-xxxxs\@#{$breakpoint} {
        margin: var(--space-xxxxs) !important;
      }
      .margin-xxxs\@#{$breakpoint} {
        margin: var(--space-xxxs) !important;
      }
      .margin-xxs\@#{$breakpoint} {
        margin: var(--space-xxs) !important;
      }
      .margin-xs\@#{$breakpoint} {
        margin: var(--space-xs) !important;
      }
      .margin-sm\@#{$breakpoint} {
        margin: var(--space-sm) !important;
      }
      .margin-md\@#{$breakpoint} {
        margin: var(--space-md) !important;
      }
      .margin-lg\@#{$breakpoint} {
        margin: var(--space-lg) !important;
      }
      .margin-xl\@#{$breakpoint} {
        margin: var(--space-xl) !important;
      }
      .margin-xxl\@#{$breakpoint} {
        margin: var(--space-xxl) !important;
      }
      .margin-xxxl\@#{$breakpoint} {
        margin: var(--space-xxxl) !important;
      }
      .margin-xxxxl\@#{$breakpoint} {
        margin: var(--space-xxxxl) !important;
      }
      .margin-auto\@#{$breakpoint} {
        margin: auto !important;
      }
      .margin-0\@#{$breakpoint} {
        margin: 0 !important;
      }

      .margin-top-base\@#{$breakpoint} {
        margin-top: var(--space-unit) !important;
      }
      .margin-top-xxxxs\@#{$breakpoint} {
        margin-top: var(--space-xxxxs) !important;
      }
      .margin-top-xxxs\@#{$breakpoint} {
        margin-top: var(--space-xxxs) !important;
      }
      .margin-top-xxs\@#{$breakpoint} {
        margin-top: var(--space-xxs) !important;
      }
      .margin-top-xs\@#{$breakpoint} {
        margin-top: var(--space-xs) !important;
      }
      .margin-top-sm\@#{$breakpoint} {
        margin-top: var(--space-sm) !important;
      }
      .margin-top-md\@#{$breakpoint} {
        margin-top: var(--space-md) !important;
      }
      .margin-top-lg\@#{$breakpoint} {
        margin-top: var(--space-lg) !important;
      }
      .margin-top-xl\@#{$breakpoint} {
        margin-top: var(--space-xl) !important;
      }
      .margin-top-xxl\@#{$breakpoint} {
        margin-top: var(--space-xxl) !important;
      }
      .margin-top-xxxl\@#{$breakpoint} {
        margin-top: var(--space-xxxl) !important;
      }
      .margin-top-xxxxl\@#{$breakpoint} {
        margin-top: var(--space-xxxxl) !important;
      }
      .margin-top-auto\@#{$breakpoint} {
        margin-top: auto !important;
      }
      .margin-top-0\@#{$breakpoint} {
        margin-top: 0 !important;
      }

      .margin-bottom-base\@#{$breakpoint} {
        margin-bottom: var(--space-unit) !important;
      }
      .margin-bottom-xxxxs\@#{$breakpoint} {
        margin-bottom: var(--space-xxxxs) !important;
      }
      .margin-bottom-xxxs\@#{$breakpoint} {
        margin-bottom: var(--space-xxxs) !important;
      }
      .margin-bottom-xxs\@#{$breakpoint} {
        margin-bottom: var(--space-xxs) !important;
      }
      .margin-bottom-xs\@#{$breakpoint} {
        margin-bottom: var(--space-xs) !important;
      }
      .margin-bottom-sm\@#{$breakpoint} {
        margin-bottom: var(--space-sm) !important;
      }
      .margin-bottom-md\@#{$breakpoint} {
        margin-bottom: var(--space-md) !important;
      }
      .margin-bottom-lg\@#{$breakpoint} {
        margin-bottom: var(--space-lg) !important;
      }
      .margin-bottom-xl\@#{$breakpoint} {
        margin-bottom: var(--space-xl) !important;
      }
      .margin-bottom-xxl\@#{$breakpoint} {
        margin-bottom: var(--space-xxl) !important;
      }
      .margin-bottom-xxxl\@#{$breakpoint} {
        margin-bottom: var(--space-xxxl) !important;
      }
      .margin-bottom-xxxxl\@#{$breakpoint} {
        margin-bottom: var(--space-xxxxl) !important;
      }
      .margin-bottom-auto\@#{$breakpoint} {
        margin-bottom: auto !important;
      }
      .margin-bottom-0\@#{$breakpoint} {
        margin-bottom: 0 !important;
      }

      .margin-right-base\@#{$breakpoint} {
        margin-right: var(--space-unit) !important;
      }
      .margin-right-xxxxs\@#{$breakpoint} {
        margin-right: var(--space-xxxxs) !important;
      }
      .margin-right-xxxs\@#{$breakpoint} {
        margin-right: var(--space-xxxs) !important;
      }
      .margin-right-xxs\@#{$breakpoint} {
        margin-right: var(--space-xxs) !important;
      }
      .margin-right-xs\@#{$breakpoint} {
        margin-right: var(--space-xs) !important;
      }
      .margin-right-sm\@#{$breakpoint} {
        margin-right: var(--space-sm) !important;
      }
      .margin-right-md\@#{$breakpoint} {
        margin-right: var(--space-md) !important;
      }
      .margin-right-lg\@#{$breakpoint} {
        margin-right: var(--space-lg) !important;
      }
      .margin-right-xl\@#{$breakpoint} {
        margin-right: var(--space-xl) !important;
      }
      .margin-right-xxl\@#{$breakpoint} {
        margin-right: var(--space-xxl) !important;
      }
      .margin-right-xxxl\@#{$breakpoint} {
        margin-right: var(--space-xxxl) !important;
      }
      .margin-right-xxxxl\@#{$breakpoint} {
        margin-right: var(--space-xxxxl) !important;
      }
      .margin-right-auto\@#{$breakpoint} {
        margin-right: auto !important;
      }
      .margin-right-0\@#{$breakpoint} {
        margin-right: 0 !important;
      }

      .margin-left-base\@#{$breakpoint} {
        margin-left: var(--space-unit) !important;
      }
      .margin-left-xxxxs\@#{$breakpoint} {
        margin-left: var(--space-xxxxs) !important;
      }
      .margin-left-xxxs\@#{$breakpoint} {
        margin-left: var(--space-xxxs) !important;
      }
      .margin-left-xxs\@#{$breakpoint} {
        margin-left: var(--space-xxs) !important;
      }
      .margin-left-xs\@#{$breakpoint} {
        margin-left: var(--space-xs) !important;
      }
      .margin-left-sm\@#{$breakpoint} {
        margin-left: var(--space-sm) !important;
      }
      .margin-left-md\@#{$breakpoint} {
        margin-left: var(--space-md) !important;
      }
      .margin-left-lg\@#{$breakpoint} {
        margin-left: var(--space-lg) !important;
      }
      .margin-left-xl\@#{$breakpoint} {
        margin-left: var(--space-xl) !important;
      }
      .margin-left-xxl\@#{$breakpoint} {
        margin-left: var(--space-xxl) !important;
      }
      .margin-left-xxxl\@#{$breakpoint} {
        margin-left: var(--space-xxxl) !important;
      }
      .margin-left-xxxxl\@#{$breakpoint} {
        margin-left: var(--space-xxxxl) !important;
      }
      .margin-left-auto\@#{$breakpoint} {
        margin-left: auto !important;
      }
      .margin-left-0\@#{$breakpoint} {
        margin-left: 0 !important;
      }

      .margin-x-base\@#{$breakpoint} {
        margin-right: var(--space-unit) !important;
        margin-left: var(--space-unit) !important;
      }
      .margin-x-xxxxs\@#{$breakpoint} {
        margin-right: var(--space-xxxxs) !important;
        margin-left: var(--space-xxxxs) !important;
      }
      .margin-x-xxxs\@#{$breakpoint} {
        margin-right: var(--space-xxxs) !important;
        margin-left: var(--space-xxxs) !important;
      }
      .margin-x-xxs\@#{$breakpoint} {
        margin-right: var(--space-xxs) !important;
        margin-left: var(--space-xxs) !important;
      }
      .margin-x-xs\@#{$breakpoint} {
        margin-right: var(--space-xs) !important;
        margin-left: var(--space-xs) !important;
      }
      .margin-x-sm\@#{$breakpoint} {
        margin-right: var(--space-sm) !important;
        margin-left: var(--space-sm) !important;
      }
      .margin-x-md\@#{$breakpoint} {
        margin-right: var(--space-md) !important;
        margin-left: var(--space-md) !important;
      }
      .margin-x-lg\@#{$breakpoint} {
        margin-right: var(--space-lg) !important;
        margin-left: var(--space-lg) !important;
      }
      .margin-x-xl\@#{$breakpoint} {
        margin-right: var(--space-xl) !important;
        margin-left: var(--space-xl) !important;
      }
      .margin-x-xxl\@#{$breakpoint} {
        margin-right: var(--space-xxl) !important;
        margin-left: var(--space-xxl) !important;
      }
      .margin-x-xxxl\@#{$breakpoint} {
        margin-right: var(--space-xxxl) !important;
        margin-left: var(--space-xxxl) !important;
      }
      .margin-x-xxxxl\@#{$breakpoint} {
        margin-right: var(--space-xxxxl) !important;
        margin-left: var(--space-xxxxl) !important;
      }
      .margin-x-auto\@#{$breakpoint} {
        margin-right: auto !important;
        margin-left: auto !important;
      }
      .margin-x-0\@#{$breakpoint} {
        margin-right: 0 !important;
        margin-left: 0 !important;
      }

      .margin-y-base\@#{$breakpoint} {
        margin-top: var(--space-unit) !important;
        margin-bottom: var(--space-unit) !important;
      }
      .margin-y-xxxxs\@#{$breakpoint} {
        margin-top: var(--space-xxxxs) !important;
        margin-bottom: var(--space-xxxxs) !important;
      }
      .margin-y-xxxs\@#{$breakpoint} {
        margin-top: var(--space-xxxs) !important;
        margin-bottom: var(--space-xxxs) !important;
      }
      .margin-y-xxs\@#{$breakpoint} {
        margin-top: var(--space-xxs) !important;
        margin-bottom: var(--space-xxs) !important;
      }
      .margin-y-xs\@#{$breakpoint} {
        margin-top: var(--space-xs) !important;
        margin-bottom: var(--space-xs) !important;
      }
      .margin-y-sm\@#{$breakpoint} {
        margin-top: var(--space-sm) !important;
        margin-bottom: var(--space-sm) !important;
      }
      .margin-y-md\@#{$breakpoint} {
        margin-top: var(--space-md) !important;
        margin-bottom: var(--space-md) !important;
      }
      .margin-y-lg\@#{$breakpoint} {
        margin-top: var(--space-lg) !important;
        margin-bottom: var(--space-lg) !important;
      }
      .margin-y-xl\@#{$breakpoint} {
        margin-top: var(--space-xl) !important;
        margin-bottom: var(--space-xl) !important;
      }
      .margin-y-xxl\@#{$breakpoint} {
        margin-top: var(--space-xxl) !important;
        margin-bottom: var(--space-xxl) !important;
      }
      .margin-y-xxxl\@#{$breakpoint} {
        margin-top: var(--space-xxxl) !important;
        margin-bottom: var(--space-xxxl) !important;
      }
      .margin-y-xxxxl\@#{$breakpoint} {
        margin-top: var(--space-xxxxl) !important;
        margin-bottom: var(--space-xxxxl) !important;
      }
      .margin-y-auto\@#{$breakpoint} {
        margin-top: auto !important;
        margin-bottom: auto !important;
      }
      .margin-y-0\@#{$breakpoint} {
        margin-top: 0 !important;
        margin-bottom: 0 !important;
      }
    }

    // padding
    @supports (--css: variables) {
      .padding-base\@#{$breakpoint} {
        padding: var(--space-unit) !important;
      }
      .padding-xxxxs\@#{$breakpoint} {
        padding: var(--space-xxxxs) !important;
      }
      .padding-xxxs\@#{$breakpoint} {
        padding: var(--space-xxxs) !important;
      }
      .padding-xxs\@#{$breakpoint} {
        padding: var(--space-xxs) !important;
      }
      .padding-xs\@#{$breakpoint} {
        padding: var(--space-xs) !important;
      }
      .padding-sm\@#{$breakpoint} {
        padding: var(--space-sm) !important;
      }
      .padding-md\@#{$breakpoint} {
        padding: var(--space-md) !important;
      }
      .padding-lg\@#{$breakpoint} {
        padding: var(--space-lg) !important;
      }
      .padding-xl\@#{$breakpoint} {
        padding: var(--space-xl) !important;
      }
      .padding-xxl\@#{$breakpoint} {
        padding: var(--space-xxl) !important;
      }
      .padding-xxxl\@#{$breakpoint} {
        padding: var(--space-xxxl) !important;
      }
      .padding-xxxxl\@#{$breakpoint} {
        padding: var(--space-xxxxl) !important;
      }
      .padding-0\@#{$breakpoint} {
        padding: 0 !important;
      }
      .padding-component\@#{$breakpoint} {
        padding: var(--padding-component) !important;
      }

      .padding-top-base\@#{$breakpoint} {
        padding-top: var(--space-unit) !important;
      }
      .padding-top-xxxxs\@#{$breakpoint} {
        padding-top: var(--space-xxxxs) !important;
      }
      .padding-top-xxxs\@#{$breakpoint} {
        padding-top: var(--space-xxxs) !important;
      }
      .padding-top-xxs\@#{$breakpoint} {
        padding-top: var(--space-xxs) !important;
      }
      .padding-top-xs\@#{$breakpoint} {
        padding-top: var(--space-xs) !important;
      }
      .padding-top-sm\@#{$breakpoint} {
        padding-top: var(--space-sm) !important;
      }
      .padding-top-md\@#{$breakpoint} {
        padding-top: var(--space-md) !important;
      }
      .padding-top-lg\@#{$breakpoint} {
        padding-top: var(--space-lg) !important;
      }
      .padding-top-xl\@#{$breakpoint} {
        padding-top: var(--space-xl) !important;
      }
      .padding-top-xxl\@#{$breakpoint} {
        padding-top: var(--space-xxl) !important;
      }
      .padding-top-xxxl\@#{$breakpoint} {
        padding-top: var(--space-xxxl) !important;
      }
      .padding-top-xxxxl\@#{$breakpoint} {
        padding-top: var(--space-xxxxl) !important;
      }
      .padding-top-0\@#{$breakpoint} {
        padding-top: 0 !important;
      }
      .padding-top-component\@#{$breakpoint} {
        padding-top: var(--padding-component) !important;
      }

      .padding-bottom-base\@#{$breakpoint} {
        padding-bottom: var(--space-unit) !important;
      }
      .padding-bottom-xxxxs\@#{$breakpoint} {
        padding-bottom: var(--space-xxxxs) !important;
      }
      .padding-bottom-xxxs\@#{$breakpoint} {
        padding-bottom: var(--space-xxxs) !important;
      }
      .padding-bottom-xxs\@#{$breakpoint} {
        padding-bottom: var(--space-xxs) !important;
      }
      .padding-bottom-xs\@#{$breakpoint} {
        padding-bottom: var(--space-xs) !important;
      }
      .padding-bottom-sm\@#{$breakpoint} {
        padding-bottom: var(--space-sm) !important;
      }
      .padding-bottom-md\@#{$breakpoint} {
        padding-bottom: var(--space-md) !important;
      }
      .padding-bottom-lg\@#{$breakpoint} {
        padding-bottom: var(--space-lg) !important;
      }
      .padding-bottom-xl\@#{$breakpoint} {
        padding-bottom: var(--space-xl) !important;
      }
      .padding-bottom-xxl\@#{$breakpoint} {
        padding-bottom: var(--space-xxl) !important;
      }
      .padding-bottom-xxxl\@#{$breakpoint} {
        padding-bottom: var(--space-xxxl) !important;
      }
      .padding-bottom-xxxxl\@#{$breakpoint} {
        padding-bottom: var(--space-xxxxl) !important;
      }
      .padding-bottom-0\@#{$breakpoint} {
        padding-bottom: 0 !important;
      }
      .padding-bottom-component\@#{$breakpoint} {
        padding-bottom: var(--padding-component) !important;
      }

      .padding-right-base\@#{$breakpoint} {
        padding-right: var(--space-unit) !important;
      }
      .padding-right-xxxxs\@#{$breakpoint} {
        padding-right: var(--space-xxxxs) !important;
      }
      .padding-right-xxxs\@#{$breakpoint} {
        padding-right: var(--space-xxxs) !important;
      }
      .padding-right-xxs\@#{$breakpoint} {
        padding-right: var(--space-xxs) !important;
      }
      .padding-right-xs\@#{$breakpoint} {
        padding-right: var(--space-xs) !important;
      }
      .padding-right-sm\@#{$breakpoint} {
        padding-right: var(--space-sm) !important;
      }
      .padding-right-md\@#{$breakpoint} {
        padding-right: var(--space-md) !important;
      }
      .padding-right-lg\@#{$breakpoint} {
        padding-right: var(--space-lg) !important;
      }
      .padding-right-xl\@#{$breakpoint} {
        padding-right: var(--space-xl) !important;
      }
      .padding-right-xxl\@#{$breakpoint} {
        padding-right: var(--space-xxl) !important;
      }
      .padding-right-xxxl\@#{$breakpoint} {
        padding-right: var(--space-xxxl) !important;
      }
      .padding-right-xxxxl\@#{$breakpoint} {
        padding-right: var(--space-xxxxl) !important;
      }
      .padding-right-0\@#{$breakpoint} {
        padding-right: 0 !important;
      }
      .padding-right-component\@#{$breakpoint} {
        padding-right: var(--padding-component) !important;
      }

      .padding-left-base\@#{$breakpoint} {
        padding-left: var(--space-unit) !important;
      }
      .padding-left-xxxxs\@#{$breakpoint} {
        padding-left: var(--space-xxxxs) !important;
      }
      .padding-left-xxxs\@#{$breakpoint} {
        padding-left: var(--space-xxxs) !important;
      }
      .padding-left-xxs\@#{$breakpoint} {
        padding-left: var(--space-xxs) !important;
      }
      .padding-left-xs\@#{$breakpoint} {
        padding-left: var(--space-xs) !important;
      }
      .padding-left-sm\@#{$breakpoint} {
        padding-left: var(--space-sm) !important;
      }
      .padding-left-md\@#{$breakpoint} {
        padding-left: var(--space-md) !important;
      }
      .padding-left-lg\@#{$breakpoint} {
        padding-left: var(--space-lg) !important;
      }
      .padding-left-xl\@#{$breakpoint} {
        padding-left: var(--space-xl) !important;
      }
      .padding-left-xxl\@#{$breakpoint} {
        padding-left: var(--space-xxl) !important;
      }
      .padding-left-xxxl\@#{$breakpoint} {
        padding-left: var(--space-xxxl) !important;
      }
      .padding-left-xxxxl\@#{$breakpoint} {
        padding-left: var(--space-xxxxl) !important;
      }
      .padding-left-0\@#{$breakpoint} {
        padding-left: 0 !important;
      }
      .padding-left-component\@#{$breakpoint} {
        padding-left: var(--padding-component) !important;
      }

      .padding-x-base\@#{$breakpoint} {
        padding-right: var(--space-unit) !important;
        padding-left: var(--space-unit) !important;
      }
      .padding-x-xxxs\@#{$breakpoint} {
        padding-right: var(--space-xxxs) !important;
        padding-left: var(--space-xxxs) !important;
      }
      .padding-x-xxs\@#{$breakpoint} {
        padding-right: var(--space-xxs) !important;
        padding-left: var(--space-xxs) !important;
      }
      .padding-x-xs\@#{$breakpoint} {
        padding-right: var(--space-xs) !important;
        padding-left: var(--space-xs) !important;
      }
      .padding-x-sm\@#{$breakpoint} {
        padding-right: var(--space-sm) !important;
        padding-left: var(--space-sm) !important;
      }
      .padding-x-md\@#{$breakpoint} {
        padding-right: var(--space-md) !important;
        padding-left: var(--space-md) !important;
      }
      .padding-x-lg\@#{$breakpoint} {
        padding-right: var(--space-lg) !important;
        padding-left: var(--space-lg) !important;
      }
      .padding-x-xl\@#{$breakpoint} {
        padding-right: var(--space-xl) !important;
        padding-left: var(--space-xl) !important;
      }
      .padding-x-xxl\@#{$breakpoint} {
        padding-right: var(--space-xxl) !important;
        padding-left: var(--space-xxl) !important;
      }
      .padding-x-xxxl\@#{$breakpoint} {
        padding-right: var(--space-xxxl) !important;
        padding-left: var(--space-xxxl) !important;
      }
      .padding-x-xxxxl\@#{$breakpoint} {
        padding-right: var(--space-xxxxl) !important;
        padding-left: var(--space-xxxxl) !important;
      }
      .padding-x-0\@#{$breakpoint} {
        padding-right: 0 !important;
        padding-left: 0 !important;
      }
      .padding-x-component\@#{$breakpoint} {
        padding-right: var(--padding-component) !important;
        padding-left: var(--padding-component) !important;
      }

      .padding-y-base\@#{$breakpoint} {
        padding-top: var(--space-unit) !important;
        padding-bottom: var(--space-unit) !important;
      }
      .padding-y-xxxxs\@#{$breakpoint} {
        padding-top: var(--space-xxxxs) !important;
        padding-bottom: var(--space-xxxxs) !important;
      }
      .padding-y-xxxs\@#{$breakpoint} {
        padding-top: var(--space-xxxs) !important;
        padding-bottom: var(--space-xxxs) !important;
      }
      .padding-y-xxs\@#{$breakpoint} {
        padding-top: var(--space-xxs) !important;
        padding-bottom: var(--space-xxs) !important;
      }
      .padding-y-xs\@#{$breakpoint} {
        padding-top: var(--space-xs) !important;
        padding-bottom: var(--space-xs) !important;
      }
      .padding-y-sm\@#{$breakpoint} {
        padding-top: var(--space-sm) !important;
        padding-bottom: var(--space-sm) !important;
      }
      .padding-y-md\@#{$breakpoint} {
        padding-top: var(--space-md) !important;
        padding-bottom: var(--space-md) !important;
      }
      .padding-y-lg\@#{$breakpoint} {
        padding-top: var(--space-lg) !important;
        padding-bottom: var(--space-lg) !important;
      }
      .padding-y-xl\@#{$breakpoint} {
        padding-top: var(--space-xl) !important;
        padding-bottom: var(--space-xl) !important;
      }
      .padding-y-xxl\@#{$breakpoint} {
        padding-top: var(--space-xxl) !important;
        padding-bottom: var(--space-xxl) !important;
      }
      .padding-y-xxxl\@#{$breakpoint} {
        padding-top: var(--space-xxxl) !important;
        padding-bottom: var(--space-xxxl) !important;
      }
      .padding-y-xxxxl\@#{$breakpoint} {
        padding-top: var(--space-xxxxl) !important;
        padding-bottom: var(--space-xxxxl) !important;
      }
      .padding-y-0\@#{$breakpoint} {
        padding-top: 0 !important;
        padding-bottom: 0 !important;
      }
      .padding-y-component\@#{$breakpoint} {
        padding-top: var(--padding-component) !important;
        padding-bottom: var(--padding-component) !important;
      }
    }

    // text-align
    .text-center\@#{$breakpoint} {
      text-align: center !important;
    }
    .text-left\@#{$breakpoint} {
      text-align: left !important;
    }
    .text-right\@#{$breakpoint} {
      text-align: right !important;
    }
    .text-justify\@#{$breakpoint} {
      text-align: justify !important;
    }

    // font-size
    @supports (--css: variables) {
      .text-xs\@#{$breakpoint} {
        font-size: var(--text-size-xs, 0.694em) !important;
      }
      .text-sm\@#{$breakpoint} {
        font-size: var(--text-size-sm, 0.833em) !important;
      }
      .text-base\@#{$breakpoint} {
        font-size: var(--text-size-base, 1em) !important;
      }
      .text-md\@#{$breakpoint} {
        font-size: var(--text-size-md, 1.2em) !important;
      }
      .text-lg\@#{$breakpoint} {
        font-size: var(--text-size-lg, 1.44em) !important;
      }
      .text-xl\@#{$breakpoint} {
        font-size: var(--text-size-xl, 1.728em) !important;
      }
      .text-xxl\@#{$breakpoint} {
        font-size: var(--text-size-xxl, 2.074em) !important;
      }
      .text-xxxl\@#{$breakpoint} {
        font-size: var(--text-size-xxxl, 2.488em) !important;
      }
      .text-xxxxl\@#{$breakpoint} {
        font-size: var(--text-size-xxxxl, 2.985em) !important;
      }
    }

    // visibility
    .visible\@#{$breakpoint} {
      visibility: visible !important;
    }
    .invisible\@#{$breakpoint} {
      visibility: hidden !important;
    }
  }

  @include respond-to(#{$breakpoint}, "not all") {
    .has-margin\@#{$breakpoint} {
      margin: 0 !important;
    }
    .has-padding\@#{$breakpoint} {
      padding: 0 !important;
    }
    .display\@#{$breakpoint} {
      display: none !important;
    }
  }
}
